*{
    margin: 0;
    padding: 0;
}
.productsContainer{
min-height: 83vh;
    .textCenter{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
        flex-direction: column;
        .btn{
            color: #ffffff;
            background-color: #000000;
            border-color: #c4d5c0;
            padding: 0.5625rem 2.3125rem;
            border: 0;
            border-radius: 0px;
            font-weight: 400;
            font-family: 'Quicksand',
                sans-serif;
            font-size: 1rem;
            line-height: 1.5;
        border: 1px solid rgb(5, 5, 5);
        }
        h2{
            font-size: 34px;
        }
        input{
            margin-top: 0.5rem;
            font-size: 14px;
            width: 300px;
            padding: 7px 10px;
            border-radius: 0.3rem;
            border: 0;
            outline: 1px solid gray;
        }
    }
    .roww{
        padding-top:2rem;
        .coll{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }
        img{
            width: 256px;
            height: 300px;
        }
        h2{
            font-size: 24px;
        }
        .btn{
            color: #10634e;
            background-color: #c4d5c0;
            border-color: #c4d5c0;
            padding: 0.5625rem 2.3125rem;
            border: 0;
            border-radius: 0px;
            font-weight: 400;
            font-family: 'Quicksand',
                sans-serif;
            font-size: 1rem;
            line-height: 1.5;
        border: 1px solid rgb(5, 5, 5);
        }
    }
}